In [9]:
import csv
import os
from os.path import isfile, join
from os import path
from pathlib import Path
import pandas as pd

In [14]:
root = Path('/Users/saracaicedo/Library/CloudStorage/OneDrive-Universidaddelosandes/2025-1/Tesis')
csv_path = os.path.join(root,"input/database_CR/1979.csv")
cm_path = os.path.join(root,"input/congressman_data/congressman_1979.csv")

In [10]:
original1979 = pd.read_csv(csv_path)

In [27]:
titles = ['Mr.']

# Create new columns with default values
original1979['Prefix'] = None
original1979['Last name'] = None

# Split only rows that start with the specified titles
for title in titles:
    mask = original1979['speaker'].str.startswith(title)
    original1979.loc[mask, ['Prefix', 'Last name']] = (
        original1979.loc[mask, 'speaker'].str.split(' ', n=1, expand=True)
    )

In [28]:
original1979

,Unnamed: 0,year,month,day,chamber,speaker,speech,Prefix,Last name
0,0,1979,9,13,upper,Mr. PACKWOOD.,"Mr. President, yield back my time. ROUTINE MO...",NaN,NaN
1,1,1979,9,13,upper,Mr. MUSKIE.,I ask unanimous con; sent that the order for t...,NaN,NaN
2,2,1979,9,13,upper,Mr. MUSKIE.,"Mr. President, I ask unanimous consent that Mi...",NaN,NaN
3,3,1979,9,13,upper,Mr. HATFIELD.,"Mr. President, wil the Senator yield?",NaN,NaN
4,4,1979,9,13,upper,Mr. MUSKIE.,I yield.,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9045,9045,1979,10,17,upper,Mr. MORGAN.,"Mr. President, I will from time to time be cal...",NaN,NaN
9046,9046,1979,10,17,upper,Mr. PROXMIRE.,"Mr. President, the announcement that the Nobel...",NaN,NaN
9047,9047,1979,10,17,upper,Mr. PROXMIRE.,"Mr. President, years ago President Harry Truma...",NaN,NaN
9048,9048,1979,10,17,upper,The PRESIDING OFFICER,(N MELCHER). The clerk will call the roll. Th...,None,None
9049,9049,1979,10,17,upper,The PRESIDING OFFICER,"(\ MEtcHER). The Chair, on behalf of ti Vice P...",None,None

In [19]:
congressman1979 = pd.read_csv(cm_path, delimiter=";")

In [20]:
congressman1979

,Last name,Name,Prefix,Party,State,Nominate
0,PROXMIRE,William,NaN,Democrat,Wisconsin,-0.598
1,McGOVERN,George Stanley,NaN,Democrat,South Dakota,-0.573
2,NELSON,Gaylord Anton,NaN,Democrat,Wisconsin,-0.567
3,METZENBAUM,Howard Morton,NaN,Democrat,Ohio,-0.492
4,KENNEDY,Edward Moore (Ted),NaN,Democrat,Massachusetts,-0.443
...,...,...,...,...,...,...
96,ARMSTRONG,William Lester,NaN,Republican,Colorado,0.508
97,WALLOP,Malcolm,NaN,Republican,Wyoming,0.575
98,HUMPHREY,Gordon John,NaN,Republican,New Hampshire,0.589
99,HELMS,Jesse,NaN,Republican,North Carolina,0.631
100,GOLDWATER,Barry Morris,NaN,Republican,Arizona,0.641